.setting-custom-switch {
    margin-top: 6px;
}
.member-program {
    padding-right: 25px;
}
.wallet-setting {
    padding-left: 25px;
}
#membership_lable {
    padding-right: 10px;
}
.member-program .setting-switch {
    margin-top: -2px;
}
.ar-url {
    width: 150px;
    display: inline-block;
    float: none;
}
.wallet-switch {
    float: left;
    width: 100%;
    padding-right: 60px;
    position: relative;
    border-top: 1px dotted #ececec;
    padding: 33px 60px 33px 0px;

	.setting-switch {
		position: absolute;
		right: 0px;
		top: 50%;
		margin-top: -12px;
	}
}
#days_before input {
    width: 40px;
    text-align: Center;
}
.input-fill-box {
    font-size: 14px;
    color: #0472b3;
    display: inline-block;
    border-bottom: 1px solid #BFC9CE;
    background: none;
    font-weight: normal;
    min-height: 26px;
    overflow: hidden;
    outline: none;
    font-family: 'Lato', sans-serif;
}
.activeEmailContent{
    position:relative;
    padding-right:51px;

   .setting-switch{top:6px;position:absolute;right:0px;}
 }
