.input-field-btn{
	padding:0px;
    font-size: 12px;
    margin-top: 5px;
    position: absolute;
    right: 0px;
    bottom: 10px;
    height: 30px;
    line-height: 16px;
    
    a{
		min-width:inherit;
		margin-left:5px;
		padding: 7px 16px 4px;
		font-size: 12px;
		margin-top: 5px;
		height: 30px;
		line-height: 16px;
    
    }
}
.add-category-outer{padding:0px;}
.service-hours-outer .add-round-btn{right:-14px;}
