.url-save {
    margin: 10px 0px 10px 0px;
}
.ar-url#pportal_subdomain {
    width: 61px!important;
    display: inline-block;
    float: none;
}
#booking_time_interval.ar-url {
    width: 61px;
    display: inline-block;
    float: none;
}
