.pos-stripe-outer{    
    position: relative;
    margin-top:40px;
    margin-bottom:40px;
    padding-left:30px;
    }
.pos-stripe-input{
	float: left;
    position: absolute;
    left: 0px;
    top: 0px;
}
.pos-stripe-title{
	display: block;
	font-size: 22px;
    font-weight:normal;
    font-style:normal;
    font-family: 'Lato', sans-serif;
    color:#404040;
    margin-bottom:15px;
}
.pos-stripe-discrip{
	display: block;
	font-size:13px;
	font-weight:normal;
	font-weight:400;
	font-family: 'Lato', sans-serif;
	color:#667680;
	line-height:22px;
}
.pos-stripe-subtitle{
    font-size: 17px;
    font-weight: 300;
    color: #252525;
    margin:0px 0px 15px;
}
.pos-stripe-option{
	display: inline-block;
    vertical-align: top;
    top: 0px;
    position: absolute!important;
    left: 0px;
}
.stripe-link {
    color: $blue;
    text-decoration: none!important;
}


.small-stripe-btn {
    margin-left: 0px;
    margin-right: 20px;
    height: 29px;
    padding-top: 4px;
    line-height: 20px;
}
.new-white-btn.small-stripe-btn {
    width: 100%;
}

.wide-popup-wrapper.no-table{display:inherit!important;}
.card-reader-outer{width:100%;float:left;border:1px solid #ececec;padding:10px 15px;}
.card-reader-info{
	float:left;
	width:100%;
	padding:20px 0px;
    border-bottom: 1px solid #ececec;
	
	.card-reader-label{font-weight:bold;padding:2px 15px;}
	.card-reader-data{padding:2px 15px;}
}
.card-reader-note{float:left;width:100%;margin-top:5px;}
