body{
	background:$main-bg!important;
}
header {
    height:56px;
    border: none;
	width:100%;
	float:left;
	position: fixed;
    top: 0px;
	background:$white-color;
    display: block;
    margin-bottom: 17px;
    z-index: 10;
	font-size:13px;
	font-family:$opensan;
	@include box-shadow(0, 1px, 2px, 0, rgba(0,0,0,0.15));

	.navbar-header{

		.navbar-toggle{
			position: relative;
			float: right;
			margin-right: 15px;
			padding: 9px 10px;
			margin-bottom: 13px;
			background-color: transparent;
			background-image: none;
			@include border-radius(4px);
			border: 1px solid $blue;
			display:none;

			span{
				background: $blue;
			}

			.sr-only{
				position: absolute;
				width: 1px;
				height: 1px;
				margin: -1px;
				padding: 0;
				overflow: hidden;
				border: 0;
			}

			.icon-bar {
				display: block;
				width: 22px;
				height: 2px;
				@include border-radius(1px);
			}
		}
		.navbar-brand{
			padding: 9px 15px;
			float: none;
			height: auto;
			display: inline-block;
			line-height: 1;
			font-size: 19px;
			margin-top: 6px;
			width: 134px;
			margin-right: 15px;

			> img{
				height:27px;
				display:block;
				max-width:inherit;
				margin: 0 auto 0px;
			}
		}

	}

	ul.nav {
		float: right;
		padding: 0px 0px;
		margin: 0px;

		> li {
			position: relative;
			display: block;
			margin:0px;

			> a {
				padding:18px 8px 10px 8px;
				font-size: 13px;
				color: #667680;
				border: none;
				font-weight: normal;
				letter-spacing: -1px;
				line-height: 21px;
				height: 56px;
				margin:0px;

				label {
					font-weight: normal;
					cursor:pointer;
				}
				&:hover, &:focus{
					border-bottom: 2px solid $blue;
					background:none;
				}
			}
			.right-menus-a {
				height: 56px!important;
			}
		}
		> li.active a{
			color: #0472b3;
			border-bottom: 2px solid $blue;
		}
		.users-logs.show-desktop {
			background: url(/../images/History.svg) no-repeat center;
			border-bottom: none;
			height: 25px;
			width: 40px;
		}
	}


	ul.right-menus{
		.notification span{
			min-width: 17px;
			height: 17px;
			position: absolute;
			right: 4px;
			top: 8px;
			font-size: 12px;
			color: #fff;
			background: #e52817;
			border-radius: 20px;
			line-height: 17px;
			font-weight: 400;
			text-align: center;
			padding:0px 2px;
		}
		li{
			& > div{
    		padding: 17px 11px 18px;
			}
			a{
				padding: 17px 11px 18px;
				font-size: 13px;
				color: #667680;
				border: none;
				font-weight: normal;
				letter-spacing: -1px;
				line-height: 21px;
				height: 56px;

				&:hover{
					border-bottom:none;
				}
			}
			.users-logs.show-desktop {
				background: url(/../images/History.svg) no-repeat center;
				border-bottom: none;
				height: 25px;
				width: 40px;
			}
			.show-mobile {
				display: none!important;
			}
			.noti-icon.show-desktop {
				background: url(/../images/Notification.svg) no-repeat center;
				border-bottom: none;
				width: 40px;
			}
			.noti-popup {
				position: absolute;
				width: 300px;
				height: auto;
				border: 1px solid #ddd;
				@include border-radius(5px);
				@include box-shadow(0, 0px, 14px, 0, #eee);

				min-height: 100px;
				background: #fff;
				z-index: 20;
				right: 0px;
				top: 37px;

				.noti-title {
					font-size: 13px;
					color: #444;
					font-weight: 500;
					text-align: left;
					padding: 8px 12px;
					border-bottom: 2px solid $blue;
				}
				.noti-content {
				  max-height: 311px;
				  overflow-x: hidden;
				  overflow-y: auto;
				  background:#f2f2f2;

				  > div {
					  display: block;
					  font-size: 13px;
					  color: #444;
					  text-align: left;
					  padding: 8px 12px;
					  border-bottom: 1px solid #ddd;

					  &:last-child {
						  border: none;
						}
					}
					.read {
					  background: #fff;
					}
				}
				.noti-footer {
				  display: block;
				  padding: 8px;
				  border-top: 1px solid #ddd;
				  text-align: center;

					a {
					  color:$blue;
					}
				}

			}
		}

		li.arow-link-outer{
			.arow-link {
				@include border-radius(3px);
				height: auto;
				line-height: 10px;
				margin-top: 12px;
				padding: 4px 9px;
				width: auto;
				border-bottom: none;
				padding-right: 0px;
				display: inline-block;
				color: #667680;

				#headerUserImage{
					float: left;
					margin-top: -9px;
					width: 40px;
					height: 40px;
					display: inline-block;
					@include border-radius(50%);
					overflow: hidden;
					vertical-align: top;
					background:url(/../images/user.png) #eee;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
				}
				.name-txt {
					display: inline-block;
					margin-top: -2px;
					margin-left: 5px;
					border-right: 1px solid #ececec;
					padding: 8px 10px 5px;
				}
			}
		}

		.setting.show-desktop {
			background: url(/../images/Settings.svg) no-repeat center;
			border-bottom: none;
			height: 25px;
			width: 40px;

			&:hover, &.select{background: url(/../images/setting-hover.svg) no-repeat center;background-size:18px 18px;}
		}
		li.active{
			.setting.show-desktop{
				background: url(/../images/setting-hover.svg) no-repeat center;background-size:18px 18px;
			}
			.noti-icon.show-desktop{
				background: url(/../images/NotificationHover.svg) no-repeat center;background-size:18px 18px;
			}
			.users-logs.show-desktop{
				background: url(/../images/HistoryHover.svg) no-repeat center;background-size:18px 18px;
			}
		}
		.setting.right-menus-a {
			height: 24px!important;
			border-right: 1px solid #ececec;
			margin-top: 15px;
			padding: 9px 8px!important;
		}
		.logout.show-desktop {
			background: url(/../images/logout.png) no-repeat center;
			border-bottom: none;
			height: 25px;
			width: 40px;
		}

	}

}
